# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

samples/grande-200k.csv
.verify
release
!downloads/Visualizador-de-Planilhas.exe
!downloads/Visualizador-de-Planilhas-macOS.zip
